.touch {
    -webkit-text-stroke-width: 1px ;
    -webkit-text-stroke-color: var(--primary-color);
    transition: 0.2s;
}

.contact:hover {
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: var(--primary-color);
}

input::placeholder{
    color: var(--secondary-color);
}

textarea::placeholder{
    color: var(--secondary-color);
    font-size: 1.875rem;
}



